.idea
.DS_Store
target
*.zip
apache-maven-3.9.1-src/apache-maven-3.9.1/LICENSE
apache-maven-3.9.1-src/apache-maven-3.9.1/DEPENDENCIES
apache-maven-3.9.1-src/apache-maven-3.9.1/.git-blame-ignore-revs
apache-maven-3.9.1-src/apache-maven-3.9.1/apache-maven/src/bin/mvnyjp
apache-maven-3.9.1-src/apache-maven-3.9.1/Jenkinsfile
apache-maven-3.9.1-src/apache-maven-3.9.1/NOTICE
apache-maven-3.9.1-src/apache-maven-3.9.1/apache-maven/src/bin/mvn
*.conf
*.java
*.pom
*.jar
*.xml
*.vm
*.cmd
*.mdo
*.sh
*.md
*.apt
*.yml
*.rdf
*.html
*.properties
*.config
apache-maven-3.9.1-src/apache-maven-3.9.1/apache-maven/src/bin/mvnDebug
*.graffle
*.md5
*.odg
